@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:200,300,400,500,600,700,900');

html, body
{
    background-color: indianred;
    margin: 0;
}
.ruler
{
    width: 70%;
    align-content: center;
    border: 1px solid rgba(0, 5, 68, 0.678);
}

.header
{
    width: 50%;
    padding-top: 7%;
    padding-left: 25%;
    display: inline-block;
}

.heading
{
    text-align: center;
    font-size: 1.5em;
    font-family: 'Source Code Pro', monospace;
    color: rgba(0, 5, 68, 0.678);
}

.waifu
{
    border-radius: 50%;
    height: 25em;
    width: 25em;
    align-self: center;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

.trans
{
    margin-left: auto;
    margin-right: auto;
}

.trans-btn
{
    border: 1px solid rgba(0, 5, 68, 0.678);
    color: rgba(0, 5, 68, 0.678);
    padding: 1.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: indianred;
    text-justify: auto;
    /* border: 0px; */
}

.trans-btn:hover
{
    background-color: rgba(0, 5, 68, 0.678);
    color: #ffffff;
}

.name
{
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    color: rgba(0, 5, 68, 0.678);
}

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff6347;
    z-index: 999999;
    
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
  
    /* margin: 100px auto; */
    position: absolute;
    top: 48%;
    left: 48%;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}
  
@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}
  
@keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}